[Unit]
Description=fix to prevent system from waking immediately after suspend

[Service]
ExecStart=/bin/sh -c '/usr/local/bin/fix_wakeup'
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
